# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env

# VS Code
.vscode/
.history/

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Pytest cache
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/

# Editor temp files
*.swp
*~
